html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: monospace;
    font-size: 1.25em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4; /* Optional: background color for visibility */
}
